@import "tailwindcss";

:root {
    --color-primary: #9D0045; /* Color principal Univalle */
    --color-primary-hover: #7A0035; /* Color hover Univalle */
    --color-primarytwo: #C73872; /* Color secundario Univalle */
    --color-primaryfaint: #f8dee8; /* Color secundario Univalle */
    --color-secondary: #808185; /* Gris claro */
    --color-secondarytwo: #424346; /* Gris oscuro */
    --color-accent: #FF7E5F; /* Naranja */
}
.no-scroll {
  overflow: hidden;
}

/* Animaciones para modales */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
